.land-head {
  background-color:turquoise;
  font-size: "250%";
  font-weight: bolder;
  padding: 15px;
  text-align: left;
}
.land_font {
  font-style:normal;
  font-size: larger;
  
}
.land_img {
  max-width: 60%;
  float: left;
}
.viz-head {
  font-size: large;
  text-align: "60pt";
  font-weight: bolder;
  text-align-last: center;
  padding: 10px;
  background-color:turquoise;
  border:"10";

}
.land_box {
    max-width: 100%;
    height:auto;
    float: left;
    background-color:none;
    font-size: 18pt;
    }

.viz_box {
    background-color: lightsteelblue;
    width: 150px;
    height: 150px;
}
.viz {
    max-width: 100%;
    height:auto;
    float: left;
    font-size: 18pt;
    background-color: red;
}
.viz_font {
    font-size: 18pt;
}


/*this is the Expt style visualization*/
* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
/*this is the Expt style visualization*/


@media (max-width: 600px){

    }
    /*this is the Expt style visualization*/
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    .column {
      width: 100%;
    }
    
/*this is the Expt style visualization*/

}