.land-head {
  background-color:lightgray;
  font-size: "20pt";
  font-weight: bolder;
  padding: 20px;
  text-align: left;
}
h3 {
  font-size: 18pt;
}
.land_font {
  font-style:normal;
  font-size: 15pt;
  
}
.col-md-4 {
  background-color:turquoise;
}
.mainimg{
  width: 60%;
  float: left;
  font-size: 10pt;
}
#SmImg {
  width: 150%;
  }
.viz-head {
  font-size: 25pt;
  text-align: "60pt";
  font-weight: bolder;
  text-align-last: center;
  padding: none;
  background-color:turquoise;
  border:"10";
  }


@media (max-width: 600px){
  #SmImg{
      width:100%;
  }
}

  